<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
         div {
          display: flex;
          justify-content: center;
          align-items: center;
     
        }
        table{
            border-collapse: collapse;
            border-spacing: 0;
            margin-left: auto; 
            margin-right: auto;
        }
        h1{
            margin-left: auto; 
            margin-right: auto;
        }
        th, td{
            padding: 10px 20px;
            border: 1px solid #000;
        }
        .center {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
    <h1>
        Huntley High School Science Olympiad
    </h1>
</head>
<body id="body">

    <script src="script.js"></script>


<script>
    function randBlocks(numBlock, max){
        var randomNum = Math.floor(Math.random() * max) + 1;
        return dataBlocks[numBlock-1][randomNum];
    }
    function randBlocks(numBlock){
        var randomNum = Math.floor(Math.random() * 2) + 1;
        console.log("RandomNum- " + randomNum + "   dataBlocks[numBlock-1][randomNum]-" + dataBlocks[numBlock-1][randomNum] + "     numBlock-" + numBlock);
        return dataBlocks[numBlock-1][randomNum];
    }
    let table = document.createElement('table');
    let thead = document.createElement('thead');
    let tbody = document.createElement('tbody');
    
    table.appendChild(thead);
    table.appendChild(tbody);
    //document.getElementById("table").style.margin-left = "auto";
    //document.getElementById("table").style.margin-right = "auto";
    // Adding the entire table to the body tag
    document.getElementById('body').appendChild(table);
    /*
    var data = ["Students","BlockA", "BlockB", "BlockC","BlockD","BlockE","BlockF"]
    let row_1 = document.createElement('tr');
    for(var i = 0; i<7;i++){
        let row_1_data_1 = document.createElement('td');
        row_1_data_1.innerHTML = data[i];
        row_1.appendChild(row_1_data_1);
    }
        thead.appendChild(row_1);
    */
        var dataBlocks = [
            ["Cell Biology",             "Experimental Design",  "Forensics"                ],
            ["Chem Lab",                 "WiFi Lab",             "Write It Do It"           ],
            ["Anatomy and Physiology",   "Astronomy",            "Environmental Chemisty"   ],
            ["Disease Detectives",       "It's About Time",      "Remote Sensing"           ],
            ["Codebusters",              "Dynamic Planet",       "Ornithology"              ],
            ["Detector Building",        "Green Generation",     "Rocks & Minerals"         ]];
        var data = [["Students","BlockA", "BlockB", "BlockC","BlockD","BlockE"] 
    ,["Airam Reinoso","Event1", "Event2", "Event3","Event4","Event5","Event6","Event7","Event8"]
    ,["Airam Reinoso","Event1", "Event2", "Event3","Event4","Event5","Event6","Event7","Event8"]
    ,["Airam Reinoso","Event1", "Event2", "Event3","Event4","Event5","Event6","Event7","Event8"]
    ,["Airam Reinoso","Event1", "Event2", "Event3","Event4","Event5","Event6","Event7","Event8"]
    ,["Airam Reinoso","Event1", "Event2", "Event3","Event4","Event5","Event6","Event7","Event8"]
    ,["Airam Reinoso","Event1", "Event2", "Event3","Event4","Event5","Event6","Event7","Event8"]]
    var randomData = [
    ["Students","BlockA", "BlockB", "BlockC","BlockD","BlockE", "BlockF"],
    ["Test Student 1",randBlocks(1),randBlocks(2),randBlocks(3),randBlocks(4),randBlocks(5),randBlocks(6)],
    ["Test Student 2",randBlocks(1),randBlocks(2),randBlocks(3),randBlocks(4),randBlocks(5),randBlocks(6)],
    ["Test Student 3",randBlocks(1),randBlocks(2),randBlocks(3),randBlocks(4),randBlocks(5),randBlocks(6)],
    ["Test Student 4",randBlocks(1),randBlocks(2),randBlocks(3),randBlocks(4),randBlocks(5),randBlocks(6)],
    ["Test Student 5",randBlocks(1),randBlocks(2),randBlocks(3),randBlocks(4),randBlocks(5),randBlocks(6)]
    ["Test Student 6",randBlocks(1),randBlocks(2),randBlocks(3),randBlocks(4),randBlocks(5),randBlocks(6)]];
    /*for(var column = 0; column < 6; column++){
        for(var row = 0; row < 6; row++){
            var randE =randBlocks(column);
            randomData[column][row]=;
            console.log(randE);
        }
    }*/
    var row = [];
    for (var r = 0; r</*ndomData.length*/100;r++){
        row[r] = document.createElement('tr');
    }
    for(var iy = 0; iy<40; iy++){
        
        let row_1 = document.createElement('tr');
        console.log("randomData[1].length-" + randomData[1].length + "  iy-"+iy);
        for(var i = 0; i<randomData[1].length; i++){
            let row_1_data_1 = document.createElement('td');
            row_1_data_1.innerHTML = randomData[iy][i];
            console.log("Table cord(" + i + "," + iy + ")-" + randomData[iy][i]);
            row[iy].appendChild(row_1_data_1);
        }
        console.log("iy" + iy+"row" + row[iy]);
        thead.appendChild(row[iy]);
    }
    /*
    row_2.appendChild(row_2_data_1);
    row_2.appendChild(row_2_data_2);
    row_2.appendChild(row_2_data_3);
    */
</script>
</body>
</html>