<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table{
            border-collapse: collapse;
            border-spacing: 0;
        }
        th, td{
            padding: 10px 20px;
            border: 1px solid #000;
        }
    </style>

</head>
<body id="body">

    <script src="script.js"></script>

<script>
    let table = document.createElement('table');
    let thead = document.createElement('thead');
    let tbody = document.createElement('tbody');
    
    table.appendChild(thead);
    table.appendChild(tbody);
    
    // Adding the entire table to the body tag
    document.getElementById('body').appendChild(table);
    var data = ["Students","BlockA", "BlockB", "BlockC","BlockD","BlockE","BlockF"]
    let row_1 = document.createElement('tr');
    for(var i = 0; i<7;i++){
        let row_1_data_1 = document.createElement('td');
        row_1_data_1.innerHTML = data[i];
        row_1.appendChild(row_1_data_1);
    }
        thead.appendChild(row_1);
    
    

    var row = [];
    for (var r = 0; r<7; r++){
        row[r] = document.createElement('tr');
    }
    for(var iy = 0; iy<7; iy++){
        var data = ["Airam Reinoso","Event1", "Event2", "Event3","Event4","Event5","Event6","Event7","Event8"]
        let row_1 = document.createElement('tr');
        for(var i = 0; i<7; i++){
            let row_1_data_1 = document.createElement('td');
            row_1_data_1.innerHTML = data[i];
            row[iy].appendChild(row_1_data_1);
        }
        thead.appendChild(row[iy]);
    }
    
    row_2.appendChild(row_2_data_1);
    row_2.appendChild(row_2_data_2);
    row_2.appendChild(row_2_data_3);
    
</script>
</body>
</html>