@page
@model SciO_Scheduler_2.Views.Home.listEventPageModel
@{
    ViewData["Title"] = "Events";
}

<style>
body {
    background-color:#ffffff;
    text-align: center;
  }

#green {
    color:rgb(0,255,0);
}

#blue {
    color:rgb(0, 26, 255);
}

#orange {
    color:rgb(255, 123, 0);
}

#purple {
    color:rgb(174, 0, 255);
}

#red {
    color:rgb(255,0,0);
}

.events {
    margin-left: auto;
    margin-right: auto;
}
</style>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/jpg" href="%PUBLIC_URL%/ISO.jpg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#ffffff" />
        <meta
            name="description"
            content="Web site created using create-react-app"
        />
        <link rel="apple-touch-icon" href="%PUBLIC_URL%/ISO.jpg" />
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <link rel="stylesheet" href="EventTable.css" />

        <title>This might not work</title>
    </head>

    <body>

        <h1>List of Events</h1>

        <table class="events">
            <thead>
              <tr>
                <th id="green">Life, Personal, & Social Science</th>
                <th></th>
                <th id="blue">Earth & Space Science</th>
                <th></th>
                <th id="orange">Physical Science & Chemistry</th>
                <th></th>
                <th id="purple">Technology & Engineering Design</th>
                <th></th>
                <th id="red">Inquiry & Nature of Science</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Anatomy & Physiology</td>
                <td></td>
                <td>Astronomy</td>
                <td></td>
                <td>It's About Time</td>
                <td></td>
                <td>Bridges</td>
                <td></td>
                <td>Codebusters</td>
              </tr>
      
              <tr>
                <td>Cell Biology</td>
                <td></td>
                <td>Dynamic Planet</td>
                <td></td>
                <td>Trajectory</td>
                <td></td>
                <td>Detector Building</td>
                <td></td>
                <td>Experimental Design</td>
              </tr>
      
              <tr>
                <td>Disease Detectives</td>
                <td></td>
                <td>Rocks & Minerals</td>
                <td></td>
                <td>WiFi Lab</td>
                <td></td>
                <td>Gravity Vehicle</td>
                <td></td>
                <td>Ping Pong Parachute</td>
              </tr>
      
              <tr>
                <td>Green Generation</td>
                <td></td>
                <td>Remote Sensing</td>
                <td></td>
                <td>Chem Lab</td>
                <td></td>
                <td>Wright Stuff</td>
                <td></td>
                <td>Write It, Do It</td>
                <td></td>
              </tr>
      
              <tr>
                <td>Ornithology</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Enviromental Chemistry</td>
              </tr>
      
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Forensics</td>
              </tr>
            </tbody>
          </table>



        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    </body>
</html>