
@{

    ViewData["Title"] = "MyChart";
    @*using (var context = new BloggingContext())
{
    var blogs = context.Blogs.ToList();
}
    var user = new SqlParameter("user", "Simon");

    var gantt = context.Gantt
    .FromSqlRaw("EXECUTE dbo.gantt @filterByUser=@studentName", user)
    .ToList();
    *@

}

<h1>MyChart</h1>
<h1>@gantt</h1>
<div id="anychart-embed-prC8mRKX" class="anychart-embed anychart-embed-prC8mRKX">
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-exports.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-gantt.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.3.0/js/anychart-data-adapter.min.js"></script>
<div id="ac_style_prC8mRKX" style="display:none;">
html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
</div>
<script>(function(){
function ac_add_to_head(el){
	var head = document.getElementsByTagName('head')[0];
	head.insertBefore(el,head.firstChild);
}
function ac_add_link(url){
	var el = document.createElement('link');
	el.rel='stylesheet';el.type='text/css';el.media='all';el.href=url;
	ac_add_to_head(el);
}
function ac_add_style(css){
	var ac_style = document.createElement('style');
	if (ac_style.styleSheet) ac_style.styleSheet.cssText = css;
	else ac_style.appendChild(document.createTextNode(css));
	ac_add_to_head(ac_style);
}
ac_add_link('https://cdn.anychart.com/releases/8.3.0/css/anychart-ui.min.css');
ac_add_link('https://cdn.anychart.com/releases/8.3.0/fonts/css/anychart-font.min.css');
ac_add_style(document.getElementById("ac_style_prC8mRKX").innerHTML);
ac_add_style(".anychart-embed-prC8mRKX{width:1024px;height:1024px;}");
})();</script>
<div id="container"></div>
<script>
anychart.onDocumentReady(function () {
    // The data used in this sample can be obtained from the CDN
    // https://cdn.anychart.com/samples/gantt-general-features/resource-gantt-chart-with-adaptive-labels-format/data.json
    anychart.data.loadJsonFile('https://cdn.anychart.com/samples/gantt-general-features/resource-gantt-chart-with-adaptive-labels-format/data.json', function (data) {
        // create data tree
        var treeData = anychart.data.tree(data, 'as-table');

        // create resource gantt chart
        var chart = anychart.ganttResource();

        // set data for the chart
        chart.data(treeData);

        chart.rowSelectedFill('#D4DFE8')
                .rowHoverFill('#EAEFF3')
                // set start splitter position settings
                .splitterPosition(150);

        // get chart data grid link to set column settings
        var dataGrid = chart.dataGrid();

        // set first column settings
        dataGrid.column(0)
                .title('#')
                .width(30)
                .labels({hAlign: 'center'});

        // set second column settings
        dataGrid.column(1)
                .title('Person')
                .width(120);

        var tl = chart.getTimeline();
        // set base stroke
        tl.elements().stroke('0.5 black');
        // set base labels settings
        tl.elements().labels()
                .enabled(true)
                .fontColor('#fff')
                // format labels
                .format(function () {
                    var name = this.name;
                    // create short name
                    // sample: Trevor Moore => T.M
                    var shortName = name.split(' ').map(function (item, index) {
                        return item[0]
                    }).join('.');

                    var label = this.label;

                    var barBounds = this.barBounds;
                    var labelBounds = label.measureWithText(name);

                    // if width of the label is greater than the width of the bar, then we show short name
                    if (barBounds.width < labelBounds.width) {
                        return shortName;
                    }

                    return name;
                });

        // set container id for the chart
        chart.container('container');

        // initiate chart drawing
        chart.draw();

        // zoom chart to specified date
        chart.zoomTo(1191168000000, 1201795200000);
    });
});
</script>

<script>

</script>
</div>