@model SciO_Scheduler_2.Models.Gantt

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gantt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentName" class="control-label"></label>
                <input asp-for="studentName" class="form-control" />
                <span asp-validation-for="studentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentLastName" class="control-label"></label>
                <input asp-for="studentLastName" class="form-control" />
                <span asp-validation-for="studentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentEventsA" class="control-label"></label>
                <input asp-for="studentEventsA" class="form-control" />
                <span asp-validation-for="studentEventsA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentEventsB" class="control-label"></label>
                <input asp-for="studentEventsB" class="form-control" />
                <span asp-validation-for="studentEventsB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentEventsC" class="control-label"></label>
                <input asp-for="studentEventsC" class="form-control" />
                <span asp-validation-for="studentEventsC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentEventsD" class="control-label"></label>
                <input asp-for="studentEventsD" class="form-control" />
                <span asp-validation-for="studentEventsD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentEventsE" class="control-label"></label>
                <input asp-for="studentEventsE" class="form-control" />
                <span asp-validation-for="studentEventsE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentEventsF" class="control-label"></label>
                <input asp-for="studentEventsF" class="form-control" />
                <span asp-validation-for="studentEventsF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentEventsSelf" class="control-label"></label>
                <input asp-for="studentEventsSelf" class="form-control" />
                <span asp-validation-for="studentEventsSelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

